<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TweetApp</title>
    <!-- viewport設定、スマホでの横幅調節設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="page-header">
      <h1 class="page-title">投稿</h1>
 
      <nav>
        <ul class="main-nav">
          <li type="none"><a href="new.html.erb"></a>最新の投稿</li>
          <li type="none"><a href="index.html.erb"></a>投稿一覧</li>
        </ul>
      </nav>
    </header>

  <!-- コンテンツ全体を囲むラッパー -->
  <div class="wrapper">
    <!-- サイドバーと本文 -->
    <div class="blog-contents">
      <!-- サイドバー -->
      <aside class="sub-title">


        <h3>最新の投稿</h3>
        <ul class="article-index">
          <li><a href="#">ツイート</a></li>
          <li><a href="#">ツイート</a></li>
          <li><a href="#">ツイート</a></li>
          <li><a href="#">ツイート</a></li>
          <li><a href="#">ツイート</a></li>
        </ul>
      </aside>

        <!-- 本文 -->
      <article class="m-article">
        <%# ページごとの内容を表示する部分 %>
        <%= yield %>
      </article> 

      <!-- 右サイドバー -->
      <aside class="sub-title profile-section">
        <div class="profile-picture">4/25<span>2024</span></div>
        <h3>プロフィール</h3>
        <p>地域：関東</p>
        <p>自己紹介：</p>
      </aside>
    </div>
  </div>

    <!-- フッター -->
    <footer>
      <div class="footer-wrapper">
        <p><small>&copy; 2024 blog</small></p>
      </div>
    </footer>

  </body>
</html>
